.landing {
  padding-top: 5rem;
  height: 100vh;

  &__container {
    padding: 0 55rem;
    padding-top: 15rem;
  }

  // HEADER
  &__header {
    margin-bottom: 10rem;
    text-align: center;
  }

  &__logo-box {
    height: 6rem;
    margin-bottom: 1rem;
  }

  &__logo {
    display: inline-block;
    height: 100%;
  }

  &__title {
    font-size: 4rem;
    font-weight: 300;
  }

  // MAIN
  &__content {
    margin-bottom: 25rem;
  }

  &__subtitle {
    margin-bottom: .5rem;
    text-align: center;
  }

  &__social-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__social-container {
    margin-top: 3rem;
    width: 33%;
    height: 3rem;

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__social {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }

  // FOOTER
  &__footer {
  }
  
  &__action-img-box {
    height: 4rem;
    text-align: center;
  }
  
  &__action-img {
    display: inline-block;
    height: 100%;
    transform: rotate(90deg);
  }
}

.products {
  &--1 {
    background-image: linear-gradient(
      to left bottom, 
      $color-primary-dark,
      $color-primary
    );
  }

  &--2 {
    background-image: linear-gradient(
      to left bottom, 
      $color-secondary-dark,
      $color-secondary-light
    );
  }

  &--3 {
    background-image: linear-gradient(
      to left bottom, 
      $color-tertiary-dark,
      $color-tertiary-light
    );
  }

  &--4 {
    background-image: linear-gradient(
      to left bottom, 
      $color-quaternary-dark,
      $color-quaternary-light
    );
  }

  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100vh;

  &__navigation {
    float: left;
    margin-left: 6rem;
    width: 20rem;
    height: 100%;
    border-left: 1.5px solid $color-black;
    position: relative;
  }

  &__list {
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__nav-item {
    cursor: pointer;
    padding-left: 1.5rem;
    margin-left: -4px;
    border-left: 4px solid transparent;
    font-size: 1.8rem;
    font-weight: 250;

    &.active {
      border-left: 4px solid $color-white;
      font-weight: 550;
    }
  }

  &__navigation-arrows {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
  }

  &__prev-box {
  }

  &__prev,
  &__next {
    height: 3rem;
    width: 3rem;
    filter: invert(1);
    border-radius: 50%;
    display: inline-block;
    background-color: $color-white;
    padding: .5rem;
    cursor: pointer;
    transition: all .4s;

    &.disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__prev {
    transform: rotate(-90deg);
  }

  &__next {
    transform: rotate(90deg);
  }

  &__main {
    overflow: hidden;
    height: 100%;
    position: relative;
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 35vh;
  }

  &__photos {
    float:left;
    width: 50%;
    height: 100%;
  }

  &__photo-box {
    position: relative;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    &.active {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }
  }

  &__photo {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__details {
    float: left;
    width: 50%;
    height: 100%;
  }

  &__header {
  }

  &__header-group {
  }

  &__title {
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1;
  }

  &__subtitle {
    letter-spacing: 1px;
    transition: all .4s;
  }

  &__learn-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__learn-more {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid $color-white;
    color: $color-white;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__sizes {
    margin-bottom: 2rem;
    transition: opacity .2s;
    height: 4rem;

    &.removing {
      opacity: 0;
    }
  }

  &__size {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 4rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 1rem;
    background-color: transparent;
    color: $color-black;
    border: 2px solid $color-black;

    &.active {
      color: $color-white;
      background-color: $color-black;
    }
  }

  &__media {
    margin-bottom: 2rem;
  }

  &__media-group {
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
  }

  &__media-img {
    height: 4rem;
    display: inline-block;
  }

  &__media-name {
    line-height: .5;
  }

  &__cta-box {}

  &__buy {
    text-transform: uppercase;
    padding: 1.5rem 5.5rem;
    color: $color-white;
    font-weight: 700;
    background-color: darkorange;
    border: none;
    border-radius: 4px;
  }

  &__dots-container {
    float: right;
    width: 5rem;
    height: 100%;
    position: relative;
    margin-right: 5rem;
  }

  &__dots-list {
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__dots-item {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: relative;
    margin-bottom: 1rem;

    &.active {
      border: 2.5px solid $color-grey;
    }

    &--grey > .products__dot {
      background-color: $color-grey;
    }
    &--white > .products__dot {
      background-color: $color-white;
    }
    &--black > .products__dot {
      background-color: $color-black;
    }
    &--blue > .products__dot {
      background-color: $color-blue;
    }
    &--orange > .products__dot {
      background-color: $color-orange;
    }
  }

  &__dot {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $color-grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
