.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-black, .15);

  &__logo-box {
    float: left;
    height: 100%;
    position: relative;
    margin-left: 4rem;
  }

  &__logo {
    display: inline-block;
    width: 12rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__lang-box {
    float: right;
    height: 100%;
    line-height: 5rem;
    position: relative;
    margin-right: 4rem;
  }

  &__lang {
    display: inline-block;
    width: 3rem;
    vertical-align: middle;
    margin-left: 1.5rem;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
