$color-white: #fff;

$color-black: #000;

$color-grey: #777;

$color-blue: blue;

$color-orange: orange;

$color-primary-light: #fff3f5;
$color-primary: #ffdae0;
$color-primary-dark: #ffc0cb;

$color-secondary-light: #9ab3ff;
$color-secondary: #80a0ff;
$color-secondary-dark: #678dff;

$color-tertiary-light: #ade6bb;
$color-tertiary-dark: #add8e6;

$color-quaternary-light: #add8e6;
$color-quaternary-dark: #ade6d8;
