* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

.row {
  width: 100%; }

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .header__logo-box {
    float: left;
    height: 100%;
    position: relative;
    margin-left: 4rem; }
  .header__logo {
    display: inline-block;
    width: 12rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .header__lang-box {
    float: right;
    height: 100%;
    line-height: 5rem;
    position: relative;
    margin-right: 4rem; }
  .header__lang {
    display: inline-block;
    width: 3rem;
    vertical-align: middle;
    margin-left: 1.5rem; }
  .header::after {
    content: "";
    display: table;
    clear: both; }

.landing {
  padding-top: 5rem;
  height: 100vh; }
  .landing__container {
    padding: 0 55rem;
    padding-top: 15rem; }
  .landing__header {
    margin-bottom: 10rem;
    text-align: center; }
  .landing__logo-box {
    height: 6rem;
    margin-bottom: 1rem; }
  .landing__logo {
    display: inline-block;
    height: 100%; }
  .landing__title {
    font-size: 4rem;
    font-weight: 300; }
  .landing__content {
    margin-bottom: 25rem; }
  .landing__subtitle {
    margin-bottom: .5rem;
    text-align: center; }
  .landing__social-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .landing__social-container {
    margin-top: 3rem;
    width: 33%;
    height: 3rem; }
    .landing__social-container:nth-child(2) {
      text-align: center; }
    .landing__social-container:last-child {
      text-align: right; }
  .landing__social {
    display: inline-block;
    max-width: 100%;
    max-height: 100%; }
  .landing__action-img-box {
    height: 4rem;
    text-align: center; }
  .landing__action-img {
    display: inline-block;
    height: 100%;
    transform: rotate(90deg); }

.products {
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100vh; }
  .products--1 {
    background-image: linear-gradient(to left bottom, #ffc0cb, #ffdae0); }
  .products--2 {
    background-image: linear-gradient(to left bottom, #678dff, #9ab3ff); }
  .products--3 {
    background-image: linear-gradient(to left bottom, #add8e6, #ade6bb); }
  .products--4 {
    background-image: linear-gradient(to left bottom, #ade6d8, #add8e6); }
  .products__navigation {
    float: left;
    margin-left: 6rem;
    width: 20rem;
    height: 100%;
    border-left: 1.5px solid #000;
    position: relative; }
  .products__list {
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .products__nav-item {
    cursor: pointer;
    padding-left: 1.5rem;
    margin-left: -4px;
    border-left: 4px solid transparent;
    font-size: 1.8rem;
    font-weight: 250; }
    .products__nav-item.active {
      border-left: 4px solid #fff;
      font-weight: 550; }
  .products__navigation-arrows {
    position: absolute;
    bottom: 0;
    left: 1.5rem; }
  .products__prev, .products__next {
    height: 3rem;
    width: 3rem;
    filter: invert(1);
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    padding: .5rem;
    cursor: pointer;
    transition: all .4s; }
    .products__prev.disabled, .products__next.disabled {
      opacity: 0;
      visibility: hidden; }
  .products__prev {
    transform: rotate(-90deg); }
  .products__next {
    transform: rotate(90deg); }
  .products__main {
    overflow: hidden;
    height: 100%;
    position: relative; }
  .products__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 35vh; }
  .products__photos {
    float: left;
    width: 50%;
    height: 100%; }
  .products__photo-box {
    position: relative;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s; }
    .products__photo-box.active {
      opacity: 1;
      visibility: visible;
      height: 100%; }
  .products__photo {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .products__details {
    float: left;
    width: 50%;
    height: 100%; }
  .products__title {
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1; }
  .products__subtitle {
    letter-spacing: 1px;
    transition: all .4s; }
  .products__learn-box {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .products__learn-more {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600; }
  .products__sizes {
    margin-bottom: 2rem;
    transition: opacity .2s;
    height: 4rem; }
    .products__sizes.removing {
      opacity: 0; }
  .products__size {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 4rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 1rem;
    background-color: transparent;
    color: #000;
    border: 2px solid #000; }
    .products__size.active {
      color: #fff;
      background-color: #000; }
  .products__media {
    margin-bottom: 2rem; }
  .products__media-group {
    display: inline-block;
    text-align: center;
    margin-right: 2rem; }
  .products__media-img {
    height: 4rem;
    display: inline-block; }
  .products__media-name {
    line-height: .5; }
  .products__buy {
    text-transform: uppercase;
    padding: 1.5rem 5.5rem;
    color: #fff;
    font-weight: 700;
    background-color: darkorange;
    border: none;
    border-radius: 4px; }
  .products__dots-container {
    float: right;
    width: 5rem;
    height: 100%;
    position: relative;
    margin-right: 5rem; }
  .products__dots-list {
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .products__dots-item {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: relative;
    margin-bottom: 1rem; }
    .products__dots-item.active {
      border: 2.5px solid #777; }
    .products__dots-item--grey > .products__dot {
      background-color: #777; }
    .products__dots-item--white > .products__dot {
      background-color: #fff; }
    .products__dots-item--black > .products__dot {
      background-color: #000; }
    .products__dots-item--blue > .products__dot {
      background-color: blue; }
    .products__dots-item--orange > .products__dot {
      background-color: orange; }
  .products__dot {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #777;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .products::after {
    content: "";
    display: table;
    clear: both; }
